/*HTML元素*/
body{
    background-color: azure;
font-size: 0.75rem;
}
a{
    color: #591b81;
}
div>div>a{
    color: #5e2d0a;
}


/*class*/
.req-cls{
    background-color: cornflowerblue;

}
.hate{
    color: #5bd5ff;
}
/*ID*/
#hate{
    color: darkorange;
}